PORT=3001
FRONTEND_URL=http://localhost:5173

DATABASE_URL=postgresql://attendance_user:attendance123@localhost:5432/puertas_colombia
DATABASE_SSL=false

MAIL_USER=puertascolombianas@gmail.com
MAIL_PASS=mfkm cocz nclf kamf
MAIL_TIENDA=puertascolombianas@gmail.com

EMPRESA_NOMBRE=PUERTAS COLOMBIANAS
EMPRESA_NIT=900.123.456-7
EMPRESA_DIRECCION=Parque de la 93, Bogotá D.C., Colombia
EMPRESA_TELEFONO=(+57) 321 613 6824
EMPRESA_EMAIL=puertascolombianas@gmail.com
EMPRESA_REGIMEN=Régimen Común | Responsable de IVA
EMPRESA_RESOLUCION_DIAN=18764030960282

IVA_PORCENTAJE=19
RETENCION_PORCENTAJE=3.5